p {color:blue;} 
nav {
  background-color:green;
  padding:20px 10px;
  margin: 0px;
  margin-bottom:20px;
}
nav a {
  background-color:yellow;
  padding:10px;
  font-size: 33px;
  color: green;
  text-decoration: none;
}
nav a img {
  width: 150px;  
}

a.logo {
  background-color: none;
}
